################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SpaceTracker/obj/Debug
/.vs/SpaceTracker
/packages/Autodesk.Revit.SDK.2022.0.2.392
/SpaceTracker/bin/Debug
